/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 350px){
  .container{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .section{
    padding: 3.5rem 0 1rem;
  }

  .home{
     padding-bottom: 0;
  }

  .contact__card{
    grid-template-columns: repeat(1, 180px);
    justify-content: center;
  }
}
@media screen and (max-width: 320px){
  .nav__menu{
    padding: 1.3rem 1.5rem;
  }

  .home__value{
    column-gap: 1rem;
  }

  .home__img{
    width: 220px;
    height: 280px;
  }

  .home__orbe{
    width: 240px;
    height: 264px;
  }

  .logos__container{
    gap: 2rem 1rem;
  }

  .popular__card{
    width: 230px;
    padding: .5rem .5rem .75rem;
  }

  .value__img,
  .contact__img{
    width: auto;
    height: auto;
  }

  .value__orbe,
  .contact__orbe{
    width: 236px;
    height: 250px;
  }

  .subscribe__container{
    padding: 2rem 1rem;
  }

  .footer__content{
    gap: 2.5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .nav__menu{
    width: 342px;
  }

  .home__search{
    width: 412px;
  }

  .contact__card{
    grid-template-columns: repeat(2, 192px);
    justify-content: center;
  }

  .footer__content{
    grid-template-columns: repeat(3, max-content);
  }
}

@media screen and (min-width: 767px){
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
  }

  .home__orbe{
    align-self: flex-end;
  }
  .home__data{
    padding-bottom: 2rem;
  }

  .logos__container{
    grid-template-columns: repeat(4, max-content);
    justify-content: center;
  }

  .value__container,
  .contact__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .contact__images{
    order: 1;
  }

  .contact__card{
    justify-content: initial;
  }

  .subscribe__container{
    padding:3rem 13rem;
  }

  .footer__container{
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}
/* For large devices */
@media screen and (min-width: 1023px){
  .section{
    padding: 7.5rem 0 1rem;
  }
  .section__title{
    font-size: 2.25rem;
  }
  .section__subtitle{
    font-size: var(--normal-font-size);
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__menu{
    width: initial;
    margin-left: auto;
  }
  .nav__list{
    display: flex;
    column-gap: 3rem;
  }
  .nav__link{
    color: var(--text-color-light);
  }
  .nav__link i{
    /* display: none; */
  }
  .nav__link span:hover{
    text-decoration: underline;
  }
  .nav__button{
    display:inline-block;
  }

  .active-link{
    background: none;
    box-shadow: none;
    color: var(--first-color);
    font-weight: var(--font-medium);
  }

  .change-theme{
    margin: 0 3rem;
    color:  var(--text-color-light);
  }

  .scroll-header .nav__link,
  .scroll-header .change-theme{
    color: var(--text-color);
  }
  .scroll-header .active-link{
    color: var(--first-color);
  }

  .home{
    padding-bottom: 0;
  }
  .home__container{
    padding-top: 5rem;
    column-gap: 2rem;
  }
  .home__data{
    padding-bottom: 4rem;
  }
  .home_title{
    margin-bottom: 2rem;
  }
  .home__description,
  .home__search{
    margin-bottom: 3rem;
  }
  .home__value{
    column-gap: 3.5rem;
  }
  .home__orbe{
    width:504px;
    height:615px;
    /* border-radius: 16px 16px 16px 16px; */
  }
  .home__img{
    width:472px;
    height:634px;
    border-radius: 12px 12px 12px 12px;
    bottom: -1.5rem;
  }
  
  .logos__img img{
    height: 100px;
  }

  .popular__container{
    padding-top: 3rem;
  }
  .popular__card{
    width: 320px;
    padding: .75rem .75rem 2rem;
  }

  .popular__data{
    padding: 0 .25rem 0 .75rem;
  }

  .value__container,
  .contact__container{
    align-items: flex-start;
    column-gap: 5rem;
  }
  .value__orbe,
  .contact__orbe{
    width: 400px;
    height: 450px;
    border-radius: 256px 256px 26px 26px;
    display: flex;
    align-items: center;
  }
  .value__img,
  .contact__img{
    width: 461px;
    height: auto;
    /* border-radius: 12px 12px 12px 12px; */
  }
  .value__img img,
  .contact__img img{
    max-width: initial;
    width: 490px;
  }
  .value__description,
  .contact__description{
    font-size: var(--normal-font-size);
    margin-bottom: 2.5rem;
  }

  .value__accordion-title{
    font-size: var(--normal-font-size);
  }
  .value__accordion-item{
    padding: 1.25rem 1.25rem 1.25rem 1rem;
  }
  .value__accordion-description{
    padding-bottom: 1rem;
    font-size: var(--small-font-size);
  }

  .contact__card{
    grid-template-columns: repeat(2, 200px);
  }
  .contact__card-box{
    padding: 28px 1.5rem 1.5rem;
  }

  .subscribe__container{
    padding: 4rem 10rem 4.5rem;
    border-radius: 2rem;
    border: 12px solid var(--first-color-light);
  }
  .subscribe__title{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .subscribe__description{
    font-size:var(--normal-font-size);
    padding: 0 8rem;
  }
  .subscribe__button{
    font-size: var(--normal-font-size);
  }

  .footer__content{
    grid-template-columns: repeat(4, max-content);
  }
  .footer__title{
    margin-bottom: 1.5rem;
  }
  .footer__links{
    row-gap: 1rem;
  }
  .footer__info{
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
  }

  .show-scroll{
    bottom: 3rem;
    right: 3rem;
  }
}

@media screen and (min-width: 1040px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__container{
    column-gap: 4rem;
  }
}

/* For 2K & 4K resolutions */
@media screen and (min-width: 2048px){
  body{
    zoom: 1;
  }
}
@media screen and (min-width: 3840px){
  body{
    zoom: 1.5;
  }
}