* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

/* styles */
.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  top: 10%;
}

.image-upload {
  display: flex;
  width: 80%;

  flex-direction: column;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
}

label {
  cursor: pointer;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 10px;
  font-size: 0.8em;

  cursor: pointer;
}

#chooseFile {
  visibility: hidden;
}

.fileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileInput {
  display: flex;
  align-items: center;
  border-bottom: solid 2px black;
  width: 60%;
  height: 30px;
}
.fileInput p {
  font-weight: bold;
}

#fileName {
  margin-left: 5px;
  font-size: 0.9rem;
  text-decoration: underline;
}

.button.Container {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 10px;
  font-size: 0.8em;

  cursor: pointer;
}

.image-show {
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.img {
  position: absolute;
}
