/* FONT FACE */
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
}

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
  unicode-range: U+AC0020-D7A3;
}

/* ROOT VARIABLES */
:root {
  --color-white: #fff;
  --color-light: #f4f4f4;
  --color-dark: #525252;
  --color-black: #141415;
  --color-primary: #2469ff;
  /* --color-primary: #f24e1e; */
  --color-primary-light: hsl(14, 89%, 53%, 12%);
  --color-success: #29f5a6;
  --color-warning: #ffce31;

  --transition: all 300ms ease;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white);
  font-family: "Montserrat", sans-serif;
  color: var(--color-dark);
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-black);
  line-height: 1.2;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 1.6;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 0.86rem;
}

p {
  line-height: 1.8;
}

.container {
  width: 80%;
  margin: 0 auto;
}

section {
  padding: 10rem 0 7rem;
  max-width: 100vw;
  overflow-x: hidden;
}

section h1 {
  text-align: center;
  display: block;
  margin-bottom: 5rem;
}

img {
  width: 100%;
}

.btn {
  padding: 1.4rem 3.4rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-black);
  background-color: var(--color-white);
  display: inline-block;
  margin: 2rem 0;
  transition: var(--transition);
}

.btn:hover {
  box-shadow: 0 2rem 2rem var(--color-primary-light);
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* NAVBAR */
nav {
  width: 100%;
  height: 5rem;
  background: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid var(--color-light);
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav button {
  display: none;
}

nav h3 {
  color: var(--color-primary);
}

nav .container ul {
  display: flex;
  height: 100%;
}

nav .container ul li a {
  height: 100%;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  position: relative;
  transition: var(--transition);
}

nav .container ul li a:hover {
  color: var(--color-primary);
}

nav .container ul li a.active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* LANDING SECTION */
section.landing {
  display: grid;
  place-items: center;
  position: relative;
  top: 5rem;
  padding-bottom: 14rem;
}

section.landing .container {
  display: grid;
  grid-template-columns: 5rem auto 26rem;
}

section.landing .socials {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 5rem;
}

section.landing .socials a {
  font-size: 1.1rem;
  background-color: var(--color-light);
  color: var(--color-dark);
  padding: 0.3rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

section.landing .socials a:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

section.landing .info h1 {
  text-align: left;
  margin: 0;
}

section.landing h3 {
  margin: 2.4rem 0 1rem;
}

section.landing .info p {
  width: 35rem;
}

section.landing .profile-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.landing .profile-area .outer-circle {
  width: 26rem;
  height: 26rem;
  border: 1px solid var(--color-primary-light);
}

section.landing .profile-area .inner-circle {
  display: none;
}

/* MAILBOX */
.mailbox {
  /* display: none; */
  padding: 0.8rem;
  width: 26rem;
  border-radius: 1rem;
  background-color: var(--color-white);
  border: solid 1px var(--color-dark);
}
.mailbox h1 {
  font-size: 2rem;
  margin: 1rem 0 2rem;
}

.mailbox form {
  display: flex;
  flex-direction: column;
  width: 24rem;
  gap: 1rem;
}

.mailbox input,
.mailbox select,
.mailbox textarea {
  padding: 0.8rem;
  width: 100%;
  background: transparent;
  border: 1px solid var(--color-dark);
}

.mailbox textarea {
  resize: none;
  height: 8rem;
}

.mailbox button {
  width: 100%;
  padding: 1.4rem;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
}
