/* html, body */
html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100%;
}
/* adobe color 사이트에서 트렌디한 색상을 선정해보자 */
body {
  font-family: "GmarketSansMedium";
  background-color: #fcee21;
  color: #3f454d;
}

/* header */
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header_wrapper {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

/* 사용자 입력 */
.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin-bottom: 35px;
  padding: 30px 30px 20px 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #3f454d;
}

.inputs hr {
  margin-bottom: 35px;
}

.inputs_title p {
  color: #4463fd;
  font-size: 24px;
  font-weight: 400;
}

.inputs div {
  /* 여기에도 flex를 주는 이유는 결과 화면이 다르기 때문이다.
    여기에 flex를 주지 않으면 inputs 부분은 column(세로, 열)으로
    정렬이 된다. 때문에 div 부분에도 flex를 주어 있는 그대로 보이도록 한다. */
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.inputs input {
  padding: 5px 10px 5px 10px;
  /* 패딩의 순서는 12시, 3시, 6시 9시다. 시계 방향으로 돌아감 */
  margin: 0 10px;
  border: solid 1px #babcbe;
  border-radius: 10px;
  font-size: 20px;
  font-family: "GmarketSansMedium";
  width: 60px;
  text-align: center;
}

.inputs input::placeholder {
  color: #babcbe;
}

/* 버튼 공통 스타일 */
button {
  display: flex;
  align-items: center;
  font-family: "OTEnjoystoriesBA";
  font-size: 36px;
  background-color: transparent;
  color: #526df2;
  border: 1px solid #526df2;
  border-radius: 30px;
  padding: 5px 40px;
  cursor: pointer;
  word-break: keep-all;
}
.start_btn:hover {
  padding: 6px 40px;
  word-break: keep-all;
  color: #fff;
  background-color: #526df2;
  border: none;
}

/* title 부분 */
.title {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.title p {
  font-size: 24px;
  color: #4463fd;
  text-shadow: 0px 0px 5px #ffffff, 2px 2px 0px #fffb00;
}

.titleName {
  display: flex;
  justify-content: center;
  font-family: "OTEnjoystoriesBA";
  margin-top: 10px;
}
.titleName p {
  color: #4463fd;
  font-size: 120px;
  text-shadow: 0px 0px 5px #ffffff, 2px 2px 0px #fffb00, 0px 5px 0px #fff;
}

/* start */
.start {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn_wrapper {
  position: relative;
}

/* 저작권 */
#copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

#copyright p {
  font-size: 10px;
  line-height: 1.5;
  padding: 20px 0;
  text-align: center;
  color: #0000004f;
}

/* 저작자 링크 */
#copyright span {
  font-size: 10px;
  line-height: 1.5;
  color: #868686;
}

#copyright span a:visited,
#copyright span a {
  color: #868686;
  text-decoration: none;
}

#copyright span a:hover {
  color: #526df2;
  text-decoration: underline 0.1em;
}
