/* font-faces */
@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format('woff2'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format('woff'),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format('opentype');
}

  /* 회전 애니메이션 선언 */
@keyframes rotate {
    0% {
    transform: rotate(0deg);
    }
    100% {
    transform: rotate(360deg);
    }
}

/* html, body */

html,
body {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
}
/* adobe color 사이트에서 트렌디한 색상을 선정해보자 */
body {
    font-family: "GmarketSansMedium";
    background-color: #fcee21;
    color: black;
}

/* header */
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_wrapper {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

/* 사용자 입력 */
.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-bottom: 35px;
}

.inputs hr{
    margin-bottom: 35px;
}

.inputs_title p{
    color:#4463fd;
    font-size: 24px;
    font-weight: 200;
}

.inputs div {
    /* 여기에도 flex를 주는 이유는 결과 화면이 다르기 때문이다.
    여기에 flex를 주지 않으면 inputs 부분은 column(세로, 열)으로
    정렬이 된다. 때문에 div 부분에도 flex를 주어 있는 그대로 보이도록 한다. */
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.inputs input{
    padding: 10px 10px 10px 10px; 
    /* 패딩의 순서는 12시, 3시, 6시 9시다. 시계 방향으로 돌아감 */
    margin: 0 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'GmarketSansMedium';
    width: 50px;
    text-align: center;
}

.inputs input::placeholder {
    color: #BABCBE;
}

/* 버튼 공통 스타일 */
button {
    display: flex;
    align-items: center;
    font-family: 'OTEnjoystoriesBA';
    font-size: 36px;
    color: #fff;
    background-color: #526DF2;
    border:none;
    border-radius: 30px;
    padding: 5px 40px;
    cursor: pointer;
    word-break: keep-all;
}

/* title 부분 */
.title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.title p{
    font-size: 24px;
    color: #4463fd;
}

.titleName {
    display: flex;
    justify-content: center;
    font-family: 'OTEnjoystoriesBA';
    margin-top: 10px;
}
.titleName p{
    color: #4463fd;
    font-size: 80px;
}

/* start */
.start {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn_wrapper {
    position: relative;
}

.start_btn:hover {
    background-color: #FCEE21;
    color:#526DF2;
    border: 1px double #526DF2 
}

/* 저작권 */
#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#copyright p {
    font-size: 10px;
    line-height: 1.5;
    padding: 20px 0;
    text-align: center;
    color:#0000004f;
}

  /* 임의로 추가한 CSS */
#copyright span {
    font-size: 12px;
    line-height: 1.5;
    color: #FCEE21;
    text-decoration: underline;
}